/*************** RESET ***************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  }



img {
  width: 100%;
  height: auto;
}

/*************** VARIABLES ***************/

:root {
  --dark-color: #0F241D;
  --primary-color: #69B99D;
  --second-color: #CCF4E6;
  --background-color-1: #F9F9F9;
  --background-color-2: #FFFFFF;
  --title-color: #000000;
  --text-gray-color: #767676;
}

/*************** BASE ***************/

body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-gray-color);
  background-color: var(--background-color-1)
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  width: 214px;
  height: 56px;
  background-color: var(--primary-color);
  border-radius: 4px;

  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--background-color-1);
  padding: 17px 32px;
}

/*************** LAYOUT ***************/

#header {
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: ;
}

nav {
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--primary-color);
}

.container {
  width: 90%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 2rem
}

.section {
  padding: 5rem 0;
}




/*************** HOME ***************/

#home .container{
margin: 0;
}

#home .image::before {
  content: '';
  height: 2rem;
  width: 2rem;
  background-color: var(--second-color);
  position: absolute;
  top: 0;
}

#home .image img {
position: relative;
right: 2.93rem;
}

#home .text {

}